<input id="dd">
<span class="ll">llclick</span>
<!--<button onclick="peoName.alerto()">送出</button>-->
<button id="peoName_alerto">送出</button>

<div class="quantity">
    <span class="quantity__minus">
        <i class="fas fa-minus">

        </i>
    </span>
    <input class="quantity__input" type="text" value="2" size="2">
    <span class="quantity__plus">
        <i class="fas fa-plus">

    </i>
    </span>
</div>

<!--<div class="col-lg-7">-->
<!--<div class="gallery-on-top">-->
<!--<a href="https://b.ecimg.tw/items/DABC7YA9007D6RJ/000001_1576219683.jpg" data-toggle="lightbox"-->
<!--data-gallery="example-gallery">-->
<!--<span-->
<!--style="display: block; position: relative; overflow: hidden;">-->
<!--<img src="https://b.ecimg.tw/items/DABC7YA9007D6RJ/000001_1576219683.jpg" alt=""-->
<!--style="display: block;">-->
<!--<img role="presentation" alt="" src="https://b.ecimg.tw/items/DABC7YA9007D6RJ/000001_1576219683.jpg" class="zoomImg"-->
<!--style="position: absolute; top: -276.729px; left: -6.22835px; opacity: 0; width: 1200px; height: 1119px; border: none; max-width: none; max-height: none;"></span></a>-->
<!--</div>&lt;!&ndash; product thumbnails &ndash;&gt;-->
<!--<div class="owl-carousel gallery-thumbs ltr owl-loaded owl-drag">-->
<!--<div class="owl-stage-outer">-->
<!--<div class="owl-stage"-->
<!--style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 807px;">-->
<!--<div class="owl-item active" style="width: 151.25px; margin-right: 10px;">-->
<!--<div class="item exclude" data-target="images/single-product-01.jpg"><img-->
<!--src="https://b.ecimg.tw/items/DABC7YA9007D6RJ/000001_1576219683.jpg" alt="" data-target="https://b.ecimg.tw/items/DABC7YA9007D6RJ/000001_1576219683.jpg"></div>-->
<!--</div>-->
<!--<div class="owl-item active" style="width: 151.25px; margin-right: 10px;"><a class="item"-->
<!--data-target="images/single-product-02.jpg"><img-->
<!--src="images/single-product-02.jpg" alt="" data-target="images/single-product-02.jpg"></a></div>-->
<!--<div class="owl-item active" style="width: 151.25px; margin-right: 10px;"><a class="item"-->
<!--data-target="images/single-product-03.jpg"><img-->
<!--src="images/single-product-03.jpg" alt="" data-target="images/single-product-03.jpg"></a></div>-->
<!--<div class="owl-item active" style="width: 151.25px; margin-right: 10px;"><a class="item"-->
<!--data-target="images/single-product-04.jpg"><img-->
<!--src="images/single-product-04.jpg" alt="" data-target="images/single-product-04.jpg"></a></div>-->
<!--<div class="owl-item" style="width: 151.25px; margin-right: 10px;"><a class="item"-->
<!--data-target="images/single-product-05.jpg"><img-->
<!--src="images/single-product-05.jpg" alt="" data-target="images/single-product-05.jpg"></a></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="owl-nav">-->
<!--<button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i>-->
<!--</button>-->
<!--<button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button>-->
<!--</div>-->
<!--<div class="owl-dots disabled"></div>-->
<!--</div>-->
<!--</div>-->
23456
ioioiuo
rdgdfgdfgg
